<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="container" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <h1>NUEVO COMENTARIO</h1>
        <div class="row">

            <div class="form-group col-12">
              <label for="id"></label>
              <input
              type="number"
              class="form-control"
              id="id"
              placeholder="id *"
              formControlName="id"
              [ngClass]="{ 'is-invalid': submitted && f['id'].errors }"
              required>
            </div>
            <div *ngIf="f['id'].errors && f['id'].errors['required'] && submitted">Se requiere un id numérico</div>


            <div class="form-group col-12">
              <label for="nombre"></label>
              <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Nombre *"
              formControlName="nombre"
              [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }"
              required>
            </div>
            <div *ngIf="f['nombre'].errors && f['nombre'].errors['required'] && submitted">Se requiere un nombre</div>

            <div class="form-group col-12">
              <label for="email"></label>
              <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Email *"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              required>
            </div>
            <div *ngIf="f['email'].errors && f['email'].errors['required'] && submitted">Se requiere un email</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email'] && submitted">El email tiene que ser válido</div>

            <div class="form-group col-12">
              <label for="body"></label>
              <input
              type="text"
              class="form-control"
              id="body"
              placeholder="Body *"
              formControlName="body"
              [ngClass]="{ 'is-invalid': submitted && f['body'].errors }"
              required>
            </div>
            <div *ngIf="f['body'].errors && f['body'].errors['required'] && submitted">Se requiere un body</div>


            <button type="submit" class="btn btn-primary red" >Registrarse</button>
        </div>
      </form>
</body>
</html>
